body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  margin-bottom: 5px;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.navbar { position: fixed !important; top: 0; left: 0; right: 0; z-index: 1} 

.topics-header {
  padding-left: 2rem;
  text-align: left;
  font-weight: 900;
}

.section {
  padding-top: 1.5%
}

.user {
  padding-top:2rem
}

.vote-space {
padding-left: 7px;
padding-right: 7px;
}

.article-foot {
padding-top: 0%;
padding-bottom: 0%
}

.vote-text {
 font-weight: bold
}

.level {
padding: 0%;
margin-bottom: 0%
}

.level:not(:last-child) {
    margin-bottom: 0%;
}

.box:not(:last-child) {
  margin-bottom: .5rem
}

.user-article-title {
margin-bottom: 0%;
padding-bottom: 0%;
font-weight: bold 
}
.user-article-num {
margin-bottom: 0%;
padding-bottom: .5rem;
font-weight: bold;
text-align: left;
padding-left: 3rem
}

.content p:not(:last-child) {
  margin-bottom: .3rem;
}